*{
    margin: 0;
    padding: 0; 
    overflow: hidden; 
    font-family:'Poppins',sans-serif;
}
.background
{
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.box
{
    background-color: white;
    width:450px;
    max-width: 540px;
    margin: auto;
    margin-top: 70px;
    box-sizing: border-box;
    border-radius: 10px;
}
.box h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 10px;
}
.box img{
    width: 30px;
    margin-left: 10px;
}
.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 32px;
    padding-left: 50px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button
{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5954;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    margin-right: -5px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-left: 20px; 
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-bottom: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
   left: 8px;
}
ul li.checked
{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before
{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%; 
}
ul li span:hover
{
 background: #edeef0;
}